/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,h1{
    padding: 0;
    margin: 0;
}
ol,ul {
    list-style: none;
}
#mainMenu {
    margin: 10px;
   float: right;
    font-family: sans-serif;
}
#mainMenu li {
    display:block;
    float:left;
    margin-left:2px;
    border:1px solid #000;
}
#mainMenu a {
    display:block;
    padding:10px;
    text-decoration:none;
    background-color:#fff;
    color:#009;
}
#mainMenu a:hover {
    background-color:#009;
    color:#fff;
}
.container{
    background-color: #ddd;
}
.nav{
    height: 69px;
    background-color: #2E2F30;
    color: #fff;
    margin-bottom: 20px;
    display: block;
}
.logo{
    padding: 10px;
    float: left;
}
.buttons{
    list-style: none;
}